<header id="about-header">
	<div class="header-content">
		<div class="header-content-inner">
			<h1 id="homeHeading">We are new england treatment consultants<br>
			</h1>
			<hr>
			<p>
				Finding treatment for you or a loved one does not have to be challenging. Call now for a complimentary consultation. Help is out there. 
			</p>
			<a href="tel:8002791455" class="btn btn-primary btn-xl page-scroll">(800) 279-1455</a>
		</div>
	</div>
</header>